Final Deliverables/flows (1).json
[{"id":"13a17a9d7874c00d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"385f6613f7557c6a","type":"ibmiot","name":"ibm","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d5d118460c3e2cc4","type":"ui_tab","name":"ibm","icon":"dashboard","disabled":false,"hidden":false},{"id":"a3bfdde67be9b527","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cad28cf3aba859e3","type":"ui_group","name":"switch1","tab":"d5d118460c3e2cc4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"568a87e11c47430e","type":"ui_group","name":"switch","tab":"d5d118460c3e2cc4","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"653ef40ff9a64a2c","type":"ibmiot in","z":"13a17a9d7874c00d","authentication":"apiKey","apiKey":"385f6613f7557c6a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Udhaya","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"udhaya","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["c27d577b0bc96d54","953d2f889a925d0a","df839736bb6487de","f183bddb65595923","d983bb7a25270b00","599ba4f1089d981f","611f5320d8a0b1bf"]]},{"id":"c5ed6fdfb682c026","type":"debug","z":"13a17a9d7874c00d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"953d2f889a925d0a","type":"function","z":"13a17a9d7874c00d","name":"temp","func":"global.set('tem', msg.payload.temp)\nmsg.payload=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["aed1d25ad929c010","c5ed6fdfb682c026"]]},{"id":"c27d577b0bc96d54","type":"function","z":"13a17a9d7874c00d","name":"moisture","func":"global.set('moist', msg.payload.moisture)\nmsg.payload=msg.payload.moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["6e51d815860c946d","0b371d107774fa77","c5ed6fdfb682c026"]]},{"id":"df839736bb6487de","type":"function","z":"13a17a9d7874c00d","name":"humidity","func":"global.set('hum', msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":300,"wires":[["83158e141ea55a7a","c5ed6fdfb682c026"]]},{"id":"83158e141ea55a7a","type":"ui_chart","z":"13a17a9d7874c00d","name":"humidity","group":"cad28cf3aba859e3","order":0,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":520,"y":300,"wires":[[]]},{"id":"aed1d25ad929c010","type":"ui_chart","z":"13a17a9d7874c00d","name":"temp","group":"cad28cf3aba859e3","order":1,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":240,"wires":[[]]},{"id":"6e51d815860c946d","type":"ui_gauge","z":"13a17a9d7874c00d","name":"moisture","group":"cad28cf3aba859e3","order":2,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":180,"wires":[]},{"id":"0b371d107774fa77","type":"switch","z":"13a17a9d7874c00d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":640,"wires":[["803ac577b0fac0b4"]]},{"id":"803ac577b0fac0b4","type":"http request","z":"13a17a9d7874c00d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=n6rSoc5mz12yUw4KV0Rv9iTYpAGxDJE3BLbfONhWdPHFeluXjC7hBjiGbAP2Y3mNWxulQXvLcreH0DUd&route=q&message=Less%20moisture%20detected%20--%20%7B%7Bpayload%7D%7D&language=english&flash=0&numbers=7603980081","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"x":690,"y":640,"wires":[["e68c5323ad9d10c8"]]},{"id":"e68c5323ad9d10c8","type":"debug","z":"13a17a9d7874c00d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":640,"wires":[]},{"id":"abe0d99d469c8bed","type":"ui_button","z":"13a17a9d7874c00d","name":"","group":"568a87e11c47430e","order":0,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":860,"wires":[["b57ae4437b56a881","79c82e81e572f901"]]},{"id":"8db2d592e39c58aa","type":"ui_button","z":"13a17a9d7874c00d","name":"","group":"568a87e11c47430e","order":1,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":920,"wires":[["b57ae4437b56a881","79c82e81e572f901"]]},{"id":"b57ae4437b56a881","type":"ibmiot out","z":"13a17a9d7874c00d","authentication":"apiKey","apiKey":"385f6613f7557c6a","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":840,"wires":[]},{"id":"b5f8d76c120faafa","type":"http in","z":"13a17a9d7874c00d","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":780,"wires":[["bfb2127eb105b455"]]},{"id":"7ebfccf7c0dd7b37","type":"http response","z":"13a17a9d7874c00d","name":"","statusCode":"","headers":{},"x":630,"y":780,"wires":[]},{"id":"6ecc407f2894e4e9","type":"http response","z":"13a17a9d7874c00d","name":"","statusCode":"","headers":{},"x":510,"y":980,"wires":[]},{"id":"62983b1af2e8bc36","type":"http in","z":"13a17a9d7874c00d","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":260,"y":980,"wires":[["b57ae4437b56a881","79c82e81e572f901","6ecc407f2894e4e9"]]},{"id":"bfb2127eb105b455","type":"function","z":"13a17a9d7874c00d","name":"data","func":"msg.payload={\n    \"moisture\":global.get('moist'),\n    \"temp\":global.get('tem'),\n    \"humidity\":global.get('hum'),\n    \"flame\":global.get('fl'),\n    \"nitrogen\":global.get('nit'),\n    \"phosporus\":global.get('p'),\n    \"potassium\":global.get('k')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":780,"wires":[["7ebfccf7c0dd7b37"]]},{"id":"79c82e81e572f901","type":"debug","z":"13a17a9d7874c00d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":920,"wires":[]},{"id":"f183bddb65595923","type":"function","z":"13a17a9d7874c00d","name":"flame","func":"global.set('fl', msg.payload.flame)\nmsg.payload=msg.payload.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["ac796369c08b8e22","c5ed6fdfb682c026","73012771c42eb304"]]},{"id":"611f5320d8a0b1bf","type":"function","z":"13a17a9d7874c00d","name":"potassium","func":"global.set('k', msg.payload.potassium)\nmsg.payload=msg.payload.potassium\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":540,"wires":[["5a25aa8445f89729","c5ed6fdfb682c026"]]},{"id":"599ba4f1089d981f","type":"function","z":"13a17a9d7874c00d","name":"phosporus","func":"global.set('p', msg.payload.phosporus)\nmsg.payload=msg.payload.phosporus\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":480,"wires":[["ac2f4edf870e05e0","c5ed6fdfb682c026"]]},{"id":"d983bb7a25270b00","type":"function","z":"13a17a9d7874c00d","name":"nitrogen","func":"global.set('nit', msg.payload.nitrogen)\nmsg.payload=msg.payload.nitrogen\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":420,"wires":[["60a09542bc52263e","c5ed6fdfb682c026"]]},{"id":"60a09542bc52263e","type":"ui_chart","z":"13a17a9d7874c00d","name":"nitrogen","group":"cad28cf3aba859e3","order":3,"width":0,"height":0,"label":"nitrogen","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":520,"y":420,"wires":[[]]},{"id":"ac2f4edf870e05e0","type":"ui_chart","z":"13a17a9d7874c00d","name":"phosporus","group":"cad28cf3aba859e3","order":4,"width":0,"height":0,"label":"phosporus","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":480,"wires":[[]]},{"id":"5a25aa8445f89729","type":"ui_chart","z":"13a17a9d7874c00d","name":"potassium","group":"cad28cf3aba859e3","order":5,"width":0,"height":0,"label":"potassium","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":540,"wires":[[]]},{"id":"ac796369c08b8e22","type":"ui_gauge","z":"13a17a9d7874c00d","name":"flame","group":"cad28cf3aba859e3","order":6,"width":0,"height":0,"gtype":"gage","title":"flame","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":360,"wires":[]},{"id":"73012771c42eb304","type":"switch","z":"13a17a9d7874c00d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":680,"wires":[["698d596580523313"]]},{"id":"698d596580523313","type":"http request","z":"13a17a9d7874c00d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=n6rSoc5mz12yUw4KV0Rv9iTYpAGxDJE3BLbfONhWdPHFeluXjC7hBjiGbAP2Y3mNWxulQXvLcreH0DUd&route=q&message=Fire%20Alert!!!&language=english&flash=0&numbers=7603980081","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"x":690,"y":680,"wires":[["0b20b05bba41b5ba"]]},{"id":"0b20b05bba41b5ba","type":"debug","z":"13a17a9d7874c00d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":680,"wires":[]}]